@font-face {
    font-family: Cover1;
    src: url(../assets/cover-1.ttf);
}

@font-face {
    font-family: Norm1;
    src: url(../assets/norm-1.ttf);
}

body {
    background-color: #1c1c1c;
}

.cover-img {
    top: 0;
    left: 0;
    align-self: center;
    width: 100vw;
    height: 50vw;
    object-fit: cover; /* Ensures image covers the entire area */
    z-index: -10;
    margin-bottom: 20vw;
    margin-top: -9vw;
    padding-top: 10vw;

    background-image: url("../assets/main-cover.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.cover-img-2 {
    background-image: url("../assets/logo.png");
    background-size: 25vw 25vw;
    background-position: 60vw 10vw;
    background-repeat: no-repeat;
    width: 100vw;
    height: 40vw;
    transition: transform 0.3s ease-in-out;
}

.cover-img-2:hover
{
    transform: scale(1.1);
}

.cover-container
{
    float: left;
    width: 80vw;
    height: 70vw;
    margin: 0 auto;
    padding-top: 0px;
    padding-left: 5vw;
    object-fit: cover;
}

.cover-title
{
    font: 8vw Cover1;
    color: #e8e8e8;
    line-break: normal;
    text-shadow: 0 0 .1vw rgba(140, 140, 140, 0.14), 0 0 .2vw rgba(164, 164, 164, 0.07), 0 0 .25vw rgba(210, 210, 210, 0.14), 0 0 .45vw rgba(196, 196, 196, 0.73), 0 0 3.5vw , 0 0 .45vw , 0 0 .5vw ;
}

.cover-body
{
    font: 2.5vw Norm1;
    color: WHITE;
    transform: translateY(-7vw);
    text-shadow: 0 0 2vw #fff, 0 0 4vw #a1a1a1, 0 0 5vw #d3d3d3, 0 0 9vw #cccccc, 0 0 7vw, 0 0 9vw, 0 0 10vw ;
}

.choice-box {
    display: flex; /* Arranges images horizontally */
    flex-wrap: wrap; /* Allows images to wrap if space is limited */
    width: 100%; /* Fills the available width */
    margin-bottom: 20vw;
    margin-top: -20vw;
}

.choice-box a {
    flex: 1 0 15%; /* Allocates equal width to each image (adjust as needed) */
    margin: 5px; /* Add spacing between images */
    text-decoration: none; /* Removes underline from links */
}

.choice-box img {
    width: 100%; /* Ensures images fit within their containers */
    transition: transform 0.3s ease-in-out;
}

.choice-box img:hover
{
    transform: scale(1.1);
}

.label {
    align-self: center;
    width: 75vw;
    color: white;
    height: 50vw;
    margin: 0 auto;
    padding-top: 0px;
    padding-left: 5vw;
    object-fit: cover;
}

.label_text_L {
    float: left;
    text-anchor: start;
    text-align: left;
    padding: .5vw 1vw;
    text-decoration: none;
    font: 4vw Norm1;
}

.label_text_R {
    float: right;
    text-anchor: start;
    text-align: right;
    padding: .5vw 1vw;
    text-decoration: none;
    font: 4vw Norm1;
}

.label_img_R {
    float: right;
    padding: .5vw .5vw;
    width: 20vw;
    height: 20vw;
    z-index: 0;
    transition: transform 0.3s ease-in-out;
}

.label_img_R:hover
{
    transform: scale(1.1);
}

.label_img_L {
    float: left;
    padding: .5vw .5vw;
    width: 20vw;
    height: 20vw;
    z-index: 0;
    transition: transform 0.3s ease-in-out;
}

.label_img_L:hover
{
    transform: scale(1.1);
}
